.movie-tile {
    > a {
        text-decoration: none;
    }
    &__figure {
        margin: 0;
    }
    &__img {
        width: 100%;
        border: solid 2px black;
        box-shadow: 0px 0px 5px black;
        box-sizing: border-box;

        .active & {
            border: solid 2px #cbb546;
            box-shadow: 0px 0px 5px #dcc75b;
        }
    }
    &__caption {
        margin-top: ($gutter / 4);
    }
    &__title {
        color: white;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 14px;
        margin-bottom: ($gutter / 4);
    }
    &__published-date {
        color: grey;
        font-size: 12px;
    }
}
